<template>
  <div>
    <div class="content_module">
      <div class="title">該作品使用的基本技術如下:</div>
      <SlotList :lists="lists">
        <template #box="props">
          <li class="text">{{ props.id }}. {{ props.text }}</li>
        </template>
      </SlotList>
    </div>
  </div>
</template>
<script>
import SlotList from "@/components/slotList.vue";
export default {
  name: "aboutPage",
  components: {
    SlotList,
  },
  data() {
    return {
      lists: [
        { id: 1, name: "vue2" },
        { id: 2, name: "vue cli 工具" },
        { id: 3, name: "vue router 路由設定" },
        { id: 4, name: "vuex 狀態管理" },
        { id: 5, name: "axios" },
        { id: 6, name: "element ui 組件應用" },
        { id: 7, name: "node.js搭配json-server" },
        { id: 8, name: "i18n 多語系" },
        { id: 9, name: "composition-api" },
      ],
    };
  },
};
</script>
<style lang="scss" scoped>
@import "../assets/css/mixins.scss";
.content_module {
  margin: 60px 0;
  .title {
    width: 700px;
    margin: 0 auto 30px;
    font-weight: bold;
    font-size: 36px;
  }
  .text {
    width: 70%;
    margin: 10px 0;
    font-size: 24px;
    font-weight: bold;
    border-bottom: 1px solid #ccc;
    transition: 0.5s ease;
    cursor: progress;
    &:hover {
      width: 100%;
      border-bottom: 3px solid #409eff;
      transition: 0.5s ease;
      color: #409eff;
    }
  }
  @include media(mobile) {
    .title {
      width: 80%;
      font-size: 24px;
    }
  }
}
</style>
