<template>
  <div>
    <div class="content_module">
      <div class="title_wrap">
        <div class="title_item">
          <i class="el el-icon-shopping-bag-1"></i>
          <p>{{ $t("confirm.checkorder") }}</p>
        </div>
      </div>
      <div class="content">
        <div class="address_wrap">
          <p class="title">{{ $t("confirm.address") }}</p>
          <div class="address_item">
            <ul>
              <li v-for="(item, index) in 1" :key="index">
                <h2>張先生</h2>
                <p class="phone">0975-xxx-xxx</p>
                <p class="address">台中市XXXXXXXXXXX</p>
              </li>
            </ul>
          </div>
        </div>

        <div class="goods_wrap">
          <p class="title">{{ $t("confirm.coupon") }}</p>
          <div class="goods_item">
            <ul>
              <li v-for="(item, index) in getCheckProduct" :key="index">
                <img :src="item.shopCart.img" />
                <span class="pro_name">{{ item.shopCart.name }}</span>
                <span class="pro_price">{{ item.shopCart.price }}元</span>
                <span class="pro_status">x{{ item.shopCart.num }}</span>
                <span class="pro_total"
                  >{{ item.shopCart.price * item.shopCart.num }}元</span
                >
              </li>
            </ul>
          </div>
        </div>

        <div class="shipment_wrap">
          <p class="title">{{ $t("confirm.deliver_method") }}</p>
          <a href="javascript:void(0)" class="shipment">{{
            $t("confirm.7-11")
          }}</a>
          <a href="javascript:void(0)" class="shipment">{{
            $t("confirm.family")
          }}</a>
        </div>

        <div class="shipment_invoice">
          <p class="title">{{ $t("confirm.receipt") }}</p>
          <p class="invoice">{{ $t("confirm.invoice") }}</p>
          <p class="invoice">{{ $t("confirm.elinvoice") }}</p>
          <p class="invoice">{{ $t("confirm.peinvoice") }}</p>
        </div>

        <div class="count_wrap">
          <div class="money_box">
            <ul>
              <li>
                <span class="title">{{ $t("confirm.numberofitem") }}:</span>
                <span class="value">
                  {{ getCheck }} {{ $t("system.piece") }}</span
                >
              </li>
              <li>
                <span class="title">{{ $t("confirm.totalprice") }}:</span>
                <span class="value">
                  {{ getTotalPrice }} {{ $t("system.dollar") }}</span
                >
              </li>
              <li>
                <span class="title">{{ $t("confirm.fare") }}:</span>
                <span class="value">
                  {{ shipPrice }} {{ $t("system.dollar") }}</span
                >
              </li>
              <li class="total">
                <span class="title">{{ $t("confirm.totalpayable") }}:</span>
                <span class="value">
                  <span class="total-price">
                    {{ getTotalPrice + shipPrice }}
                  </span>
                  {{ $t("system.dollar") }}</span
                >
              </li>
            </ul>
          </div>
        </div>

        <div class="btn_wrap">
          <div class="btn">
            <router-link to="/shopCart" class="btn_base btn_return">{{
              $t("confirm.back")
            }}</router-link>
            <a class="btn_base btn_primary" @click="fcAddOder()">
              {{ $t("confirm.checkout") }}</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import router from "@/router";
import { mapGetters, mapActions } from "vuex";
import orderApi from "@/api/orderApi";
import shopCartApi from "@/api/shopCartApi";

export default {
  name: "confirmPage",
  data() {
    return {
      date: new Date(),
    };
  },
  activated() {
    if (this.getCheckProduct.length < 1) {
      router.push("/shopCart");
      this.error("未確認結單商品");
    }
  },
  computed: {
    ...mapGetters([
      "getCheck",
      "getCheckProduct",
      "getAllNum",
      "getTotalPrice",
    ]),
    shipPrice() {
      let dollar;
      if (this.getTotalPrice <= 10000) {
        dollar = 100;
      } else if (this.getTotalPrice > 10000 && this.getTotalPrice < 30000) {
        dollar = 200;
      } else {
        dollar = 300;
      }
      return dollar;
    },
  },
  methods: {
    ...mapActions(["fcDeleteShopCart"]),
    fcAddOder() {
      orderApi
        .fcAddOrderList({
          order: this.getCheckProduct,
          date: this.date,
        })
        .then(() => {
          this.getCheckProduct.forEach((item) => {
            shopCartApi
              .fcDeleteShopList(item.id)
              .then(() => {
                this.fcDeleteShopCart(item.id);
              })
              .catch((err) => {
                return Promise.reject(err);
              });
          });

          this.success("成功建立訂單");
          router.push("/order");
        })
        .catch((err) => {
          return Promise.reject(err);
        });
    },
  },
};
</script>

<style lang="scss" scoped>
@import "../assets/css/mixins.scss";
.content_module {
  padding-bottom: 20px;
  .title_wrap {
    width: 100%;
    border-bottom: 1px solid #000000;
    margin-bottom: 10px;
    background: #ffffff;
    .title_item {
      max-width: 1000px;
      margin: 0 auto;
      padding: 20px 0;
      display: flex;
      align-items: center;
      .el {
        font-size: 30px;
      }
      p {
        font-size: 24px;
        margin-left: 20px;
      }
      @include media(tablet) {
        padding: 20px 20px;
      }
    }
  }
  .content {
    width: 1000px;
    margin: 0 auto;
    padding: 48px 0 0;
    background-color: #fff;
    .address_wrap {
      margin: 0 48px 20px;

      .title {
        color: #333;
        font-size: 18px;
        margin-bottom: 20px;
      }
    }
    // 地址
    .address_item {
      ul {
        display: flex;
      }
      li {
        width: 250px;
        height: 200px;
        padding: 20px;
        margin-right: 17px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: #333;
        border: 1px solid #e0e0e0;
        h2 {
          margin-bottom: 10px;
          font-size: 18px;
          font-weight: normal;
          line-height: 30px;
        }
        p {
          font-size: 14px;
          color: #757575;
        }
        .address {
          padding: 10px 0;
          color: #424242;
          line-height: 22px;
          font-size: 14px;
          text-align: center;
        }
      }
      .address_box {
        line-height: 30px;
        &.active {
          border: 1px solid #409eff;
          cursor: pointer;
          i {
            color: #409eff;
          }
          p {
            color: #409eff;
          }
        }
        i {
          font-size: 30px;
        }
      }
    }
    // 商品
    .goods_wrap {
      margin: 0 48px;
      .title {
        margin-bottom: 20px;
        color: #333;
        font-size: 18px;
      }
      .goods_item {
        border-top: 1px solid #e0e0e0;
        border-bottom: 1px solid #e0e0e0;
        li {
          display: grid;
          grid-template-columns: 100px 200px 200px 200px 200px;
          grid-template-rows: 100px;
          text-align: center;
          line-height: 100px;
          color: #424242;
          img {
            display: block;
            width: 100%;
            height: auto;
            margin: auto;
            object-fit: cover;
            object-position: center;
          }
          .pro_total {
            color: #409eff;
          }
        }
      }
      @include media(tablet) {
        overflow: auto;
        .goods_item {
          ul {
            overflow: auto;
          }
          li {
            grid-template-columns: 100px 125px 125px 125px 125px;
          }
        }
      }
    }
    // 配送
    .shipment_wrap {
      margin: 0 48px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      line-height: 100px;
      border-bottom: 1px solid #e0e0e0;
      .title {
        margin-right: 30px;
        color: #333;
        font-size: 18px;
      }
      .shipment {
        margin: 0 10px;
        font-size: 14px;
      }
      a {
        color: #409eff;
      }
    }
    // 收據
    .shipment_invoice {
      margin: 0 48px;
      display: flex;
      line-height: 100px;
      border-bottom: 1px solid #e0e0e0;
      .title {
        margin-right: 30px;
        color: #333;
        font-size: 18px;
      }
      .invoice {
        margin: 0 10px;
        font-size: 14px;
        color: #409eff;
      }
    }
    // 結算
    .count_wrap {
      padding: 20px 0;
      margin: 0 48px;
      .money_box {
        ul {
          display: flex;
          flex-direction: column;
          align-items: flex-end;
          li {
            display: flex;
            align-items: center;
            justify-content: center;
            line-height: 35px;
            text-align: right;
          }
        }
        .title {
          min-width: 100px;
          color: #757575;
        }
        .value {
          min-width: 150px;
          color: #409eff;
        }
        .total-price {
          font-size: 30px;
        }
      }
    }
    .btn_wrap {
      padding: 20px 48px;
      border-top: 2px solid #f5f5f5;
      overflow: hidden;
      .btn {
        display: flex;
        justify-content: flex-end;
        .btn_base {
          width: 158px;
          height: 38px;
          margin-left: 30px;
          border: 1px solid #b0b0b0;
          font-size: 14px;
          line-height: 38px;
          text-align: center;
          cursor: pointer;
        }
        .btn_return {
          color: rgba(0, 0, 0, 0.27);
          border-color: rgba(0, 0, 0, 0.27);
        }
        .btn_primary {
          background: #409eff;
          border-color: #409eff;
          color: #fff;
        }
      }
    }
    @include media(tablet) {
      width: 100%;
    }
  }
}
</style>
