<template>
  <div>
    <div class="content_module">
      <div class="left">
        <el-carousel
          height="350px"
          :autoplay="false"
          indicator-position="outside"
        >
          <el-carousel-item v-for="(item, index) in productImg" :key="index">
            <img class="img" :src="item.img" :key="index" />
          </el-carousel-item>
        </el-carousel>
      </div>
      <div class="right">
        <div class="title_wrap">
          <h3 class="title">{{ productDetail.title }}</h3>
          <p class="describe">{{ productDetail.describe }}</p>
          <p class="price">{{ productDetail.price }}元</p>
        </div>
        <div class="button_wrap">
          <div class="addcart" @click="fcAddCart()">
            {{ $t("system.addcart") }}
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import productDetailApi from "@/api/productDetailApi";
import shopCartApi from "@/api/shopCartApi";
import { mapActions, mapGetters } from "vuex";

export default {
  name: "detailPage",
  watch: {},
  data() {
    return {
      productImg: "",
      productDetail: "",
      productId: "",
    };
  },
  activated() {
    this.fcGetProductDetail();
    this.fcGetProductImg();
  },

  computed: {
    ...mapGetters(["getShopCart", "getUser"]),
  },
  methods: {
    ...mapActions(["fcAddShopCart", "fcAddShopNum"]),
    // 獲取產品圖
    fcGetProductImg() {
      const params = {
        productId: this.$route.query.productId,
      };
      productDetailApi
        .fcGetProductImg(params)
        .then((res) => {
          this.productImg = res;
        })
        .catch((err) => {
          return Promise.reject(err);
        });
    },
    // 獲取產品資料
    fcGetProductDetail() {
      const params = {
        productId: this.$route.query.productId,
      };
      productDetailApi
        .fcGetProductDetail(params)
        .then((res) => {
          this.productDetail = res[0];
        })
        .catch((err) => {
          return Promise.reject(err);
        });
    },
    // 添加商品
    fcAddCart() {
      shopCartApi
        .fcAddShopList({
          userId: this.getUser,
          shopCart: this.productDetail,
        })
        .then((res) => {
          this.fcAddShopCart(res);
          this.success("成功加入購物車");
        })
        .catch((err) => {
          return Promise.reject(err);
        });
    },
  },
};
</script>

<style lang="scss" scoped>
@import "../assets/css/mixins.scss";
.content_module {
  max-width: 1000px;
  margin: 0 auto;
  @include box-center;
  .left {
    width: 50%;
    .img {
      width: 100%;
      height: auto;
      object-fit: cover;
      object-position: center;
    }
    @include media(tablet) {
      .img {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }
  .right {
    width: 50%;
    height: 100%;
    padding: 30px;
    .title_wrap {
      margin-bottom: 30px;
      border-bottom: 1px solid #a7a7a7;
      padding-bottom: 30px;
      .title {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 20px;
      }
      .describe {
        margin-bottom: 20px;
        color: #a7a7a7;
        @include font(18px, 400, 1.15, 2px, initial);
      }
      .price {
        color: #409eff;
        font-size: 18px;
        font-weight: bold;
      }
    }
    .button_wrap {
      width: 100%;
      @include box-center;
      .addcart {
        width: 40%;
        text-align: center;
        color: #000000;
        background: transparent;
        padding: 10px 20px;
        border: 1px solid #000000;
        border-radius: 5px;
        transition: 0.5s ease;
        cursor: pointer;
        &:hover {
          background: #000000;
          color: #ffffff;
          transition: 0.5s ease;
        }
      }
    }
  }
  @include media(mobile) {
    flex-direction: column;
    ::v-deep .el-carousel__container {
      height: 250px !important;
    }
    .left {
      width: 100%;
    }
    .right {
      width: 100%;
    }
  }
}
</style>
