<template>
  <div>
    <div class="content_module">
      <el-empty :image-size="200"></el-empty>
    </div>
  </div>
</template>

<script>
import { mapActions } from "vuex";
export default {
  name: "errorPage",
  methods: {
    ...mapActions(["setLoading"]),
  },
  mounted() {
    this.setLoading(true);
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped></style>
