<template>
  <div>
    <div class="content_module">
      <div class="carousel_wrap">
        <el-carousel
          height="300px"
          indicator-position="outside"
          :autoplay="false"
        >
          <el-carousel-item v-for="(item, index) in carousel" :key="index">
            <img class="img" :src="item.img" alt="" />
          </el-carousel-item>
        </el-carousel>
      </div>
      <div class="product_wrap">
        <div class="product_item">
          <div class="text">iphone 13 pro</div>
        </div>
        <div class="product_item">
          <div class="box">
            <ProductList :products="products" :isMore="true"></ProductList>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import ProductList from "@/components/ProductList.vue";
import productApi from "@/api/productApi";
import { ref } from "@vue/composition-api";

export default {
  name: "homePage",
  components: {
    ProductList,
  },
  setup() {
    const carousel = ref([]);
    const products = ref([]);
    fcProductList();
    fcCarousel();
    function fcProductList() {
      productApi
        .fcGetProductlList()
        .then((res) => {
          products.value = res;
        })
        .catch((err) => {
          return Promise.reject(err);
        });
    }
    function fcCarousel() {
      productApi
        .fcGetCarouselList()
        .then((res) => {
          carousel.value = res;
        })
        .catch((err) => {
          return Promise.reject(err);
        });
    }
    return {
      carousel,
      products,
      fcProductList,
      fcCarousel,
    };
  },
};
</script>

<style lang="scss" scoped>
@import "../assets/css/mixins.scss";
// 輪播圖
.content_module {
  .carousel_wrap {
    margin: 0 auto;
    max-width: 1000px;
    .el-carousel__item {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      .img {
        width: 85%;
        height: auto;
        object-fit: cover;
        object-position: center;
        vertical-align: middle;
      }
    }

    @include media(mobile) {
      margin-bottom: 30px;
      ::v-deep .el-carousel__container {
        height: 200px !important;
      }
    }
  }
  @include media(mobile) {
    ul {
      li {
        width: 80%;
        margin: 10px auto;
      }
    }
  }
  // 產品
  .product_wrap {
    margin-bottom: 30px;

    .product_item {
      max-width: 1000px;
      margin: 0 auto;
      .text {
        margin-bottom: 30px;
        font-weight: bold;
        font-size: 18px;
      }
    }
    @include media(tablet) {
      .product_item {
        .text {
          padding: 0 7%;
        }
      }
    }
    @include media(mobile) {
      .product_item {
        .text {
          padding: 0 7%;
        }
      }
    }
  }
}
</style>
