<template>
  <div>
    <div class="content_module">
      <div class="title_wrap">
        <div class="title_item">
          <i class="el el-icon-shopping-bag-1"></i>
          <p>{{ $t("system.order") }}</p>
        </div>
      </div>
      <div class="content" v-for="(item, index) in orderlist" :key="index">
        <ul>
          <li class="order_info">
            <div class="order_id">{{ $t("order.list") }}: {{ index + 1 }}</div>
            <div class="order_time">
              {{ $t("order.time") }}: {{ item.date | dateTime }}
            </div>
          </li>
          <li class="header">
            <div class="pro_img">{{ $t("order.img") }}</div>
            <div class="pro_name">{{ $t("order.name") }}</div>
            <div class="pro_price">{{ $t("order.price") }}</div>
            <div class="pro_num">{{ $t("order.num") }}</div>
            <div class="pro_total">{{ $t("order.subtotal") }}</div>
          </li>
          <li
            class="product_list"
            v-for="(item, index) in item.order"
            :key="index"
          >
            <div class="pro_img">
              <img :src="item.shopCart.img" alt="" />
            </div>
            <div class="pro_name">
              <div>{{ item.shopCart.name }}</div>
            </div>
            <div class="pro_price">
              <div>{{ item.shopCart.price }}</div>
            </div>
            <div class="pro_num">
              <div>{{ item.shopCart.num }}</div>
            </div>
            <div class="pro_total">
              <div>{{ item.shopCart.num * item.shopCart.price }}</div>
            </div>
          </li>
        </ul>
        <div class="order_bar">
          <div class="order_bar_left">
            <span class="order_total">
              {{ $t("order.common") }}
              <span class="order_total_num">{{ all[index].allNum }}</span>
              {{ $t("order.item") }}
            </span>
          </div>
          <div class="order_bar_right">
            <span>
              <span class="total_price_title">{{ $t("order.total") }} : </span>
              <span class="total_price">{{ all[index].allPrice }}</span>
            </span>
          </div>
        </div>
        <div class="btn_wrap">
          <div class="btn">
            <a class="btn_base btn_primary" @click="fcCancelOrder(item.id)">
              {{ $t("order.cancelorder") }}</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import orderApi from "@/api/orderApi";
export default {
  name: "orderPage",
  watch: {
    orderlist: function (val) {
      let total = [];
      val.forEach((item) => {
        let allNum = 0;
        let allPrice = 0;
        item.order.forEach((val) => {
          allNum += val.shopCart.num;
          allPrice += val.shopCart.price * val.shopCart.num;
        });
        total.push({ allNum, allPrice });
      });
      this.all = total;
    },
  },
  // 過濾器
  filters: {
    dateTime: function (value) {
      let time = new Date(value);
      let allTime = {
        year: time.getFullYear(),
        month: time.getMonth(),
        day: time.getDate(),
        hour: time.getHours(),
        minute: time.getMinutes(),
        second: time.getSeconds(),
      };

      return (
        allTime.year +
        "-" +
        allTime.month +
        "-" +
        allTime.day +
        "~~" +
        allTime.hour +
        ":" +
        allTime.minute +
        ":" +
        allTime.second
      );
    },
  },
  data() {
    return {
      orderlist: [],
      all: [],
    };
  },
  activated() {
    orderApi
      .fcGetOrderList()
      .then((res) => {
        this.orderlist = res;
        console.log(this.orderlist);
      })
      .catch((err) => {
        return Promise.reject(err);
      });
  },
  methods: {
    fcCancelOrder(id) {
      orderApi
        .fcDeleteOrderList(id)
        .then(() => {
          this.success("刪除訂單成功");
          this.$router.go(0);
        })
        .catch((err) => {
          return Promise.reject(err);
        });
    },
  },
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>
@import "../assets/css/mixins.scss";
.content_module {
  padding-bottom: 20px;
  .title_wrap {
    width: 100%;
    border-bottom: 1px solid #000000;
    margin-bottom: 10px;
    background: #ffffff;
    .title_item {
      max-width: 1000px;
      margin: 0 auto;
      padding: 20px 0;
      display: flex;
      align-items: center;
      .el {
        font-size: 30px;
      }
      p {
        margin-left: 20px;
        font-size: 24px;
      }
      @include media(tablet) {
        padding: 20px 20px;
      }
    }
  }
  .content {
    width: 1000px;
    margin: 0 auto;
    padding: 0 30px;
    background-color: #fff;
    ul {
      color: #424242;

      .order_info {
        height: 70px;
        line-height: 70px;
        color: #424242;
        border-bottom: 1px solid #409eff;
        display: flex;
        justify-content: space-between;
        .order_id {
          color: #409eff;
        }
      }
      .header {
        display: grid;
        grid-template-columns: 150px 250px 200px 200px 200px;
        grid-template-rows: 70px;
        text-align: center;
        line-height: 70px;
        border-bottom: 1px solid #e0e0e0;
      }
      .product_list {
        display: grid;
        grid-template-columns: 150px 250px 200px 200px 200px;
        grid-template-rows: 100px;
        text-align: center;
        line-height: 100px;
        border-bottom: 1px solid #e0e0e0;

        .pro_img {
          display: flex;
          justify-content: center;
          align-items: center;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
          }
        }
        .pro_action {
          .el {
            cursor: pointer;
          }
        }
      }
    }
    @include media(tablet) {
      width: 100%;
      ul {
        overflow: auto;
        display: inline-grid;
        width: 100%;
        .header {
          display: grid;
          grid-template-columns: 100px 150px 150px 150px 150px;
          grid-template-rows: 100px;
        }
        .product_list {
          display: grid;
          grid-template-columns: 100px 150px 150px 150px 150px;
          grid-template-rows: 100px;
        }
      }
    }
  }
  .order_bar {
    max-width: 1000px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    line-height: 70px;
    background-color: #fff;
    border-top: 1px solid #409eff;
    .order_bar_left {
      .order_total {
        color: #757575;
      }
      .order_total_num {
        color: #409eff;
      }
    }
    .order_bar_right {
      .total_price_title {
        color: #409eff;
        font-size: 14px;
      }
      .total_price {
        color: #409eff;
        font-size: 30px;
      }
    }
  }
  .btn_wrap {
    padding: 20px 0px 20px 48px;
    border-top: 2px solid #f5f5f5;
    overflow: hidden;
    .btn {
      display: flex;
      justify-content: flex-end;
      .btn_base {
        width: 158px;
        height: 38px;
        margin-left: 30px;
        border: 1px solid #b0b0b0;
        font-size: 14px;
        line-height: 38px;
        text-align: center;
        cursor: pointer;
      }
      .btn_return {
        color: rgba(0, 0, 0, 0.27);
        border-color: rgba(0, 0, 0, 0.27);
      }
      .btn_primary {
        background: #409eff;
        border-color: #409eff;
        color: #fff;
      }
    }
  }
}
</style>
