<template>
  <div>
    <div class="content_module">
      <div class="tabs_wrap">
        <el-tabs v-model="activeNum" type="card">
          <el-tab-pane
            v-for="(item, index) in category"
            :key="index"
            :label="item.name"
            :name="'' + item.categoryId"
          ></el-tab-pane>
        </el-tabs>
      </div>

      <div class="product_wrap">
        <div class="product_item">
          <div class="box">
            <ProductList :products="filerData" :isMore="false"></ProductList>
          </div>
        </div>
        <div class="pagination_item">
          <el-pagination
            @current-change="handleCurrentChange"
            :page-size.sync="pageSize"
            layout="prev, pager, next"
            :total="this.products.length"
            hide-on-single-page
          >
          </el-pagination>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import ProductList from "@/components/ProductList.vue";
import productsApi from "@/api/productsApi";
import router from "@/router";

export default {
  name: "productsPage",
  components: {
    ProductList,
  },
  watch: {
    // tab選單編號
    activeNum: function (val) {
      if (val == "0") {
        this.categoryId = [];
      }
      if (val > "0") {
        this.categoryId = Number(val);
      }
      router.push({
        path: "/products",
        query: { categoryId: this.categoryId },
      });
    },
    categoryId: function () {
      this.currentPage = 1;
      this.search = "";
      this.getProducts();
    },
    $route: function (val) {
      this.search = val.query.name;
    },
    search: function (newval) {
      if (newval != "") {
        this.fcSearch(newval);
      }
    },
  },
  data() {
    return {
      activeNum: "0",
      products: [],
      category: "",
      categoryId: [],
      currentPage: 1,
      pageSize: 4,
      search: "",
    };
  },
  activated() {
    this.getProducts();
  },
  created() {
    this.getAllCategory();
  },
  computed: {
    // 產品過濾
    filerData() {
      return this.products.slice(
        this.pageSize * this.currentPage - this.pageSize,
        this.pageSize * this.currentPage
      );
    },
  },
  methods: {
    // 頁數改變
    handleCurrentChange(currentPage) {
      this.currentPage = currentPage;
      this.getProducts();
    },
    // 產品分類
    getAllCategory() {
      productsApi
        .fcGetCategory()
        .then((res) => {
          this.category = res;
        })
        .catch((err) => {
          return Promise.reject(err);
        });
    },

    // 產品顯示
    getProducts() {
      const params = {
        categoryId: this.$route.query.categoryId,
      };
      if (this.categoryId == []) {
        productsApi
          .fcGetAllProducts()
          .then((res) => {
            this.products = res;
          })
          .catch((err) => {
            return Promise.reject(err);
          });
      } else {
        productsApi
          .fcGetCategoryProduct(params)
          .then((res) => {
            this.products = res;
          })
          .catch((err) => {
            return Promise.reject(err);
          });
      }
    },
    // 搜尋
    fcSearch(newval) {
      productsApi
        .fcGetAllProducts()
        .then((res) => {
          let searchData = res.filter((item) => {
            if (item.name.indexOf(newval) != -1) {
              return item;
            }
          });
          this.products = searchData;
          this.currentPage = 1;
          this.activeNum = "0";
        })
        .catch((err) => {
          return Promise.reject(err);
        });
    },
  },
};
</script>

<style lang="scss" scoped>
@import "../assets/css/mixins.scss";
.content_module {
  .tabs_wrap {
    margin: 0 auto;
    max-width: 1000px;
    margin-top: 15px;
  }
  .product_wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    .product_item {
      max-width: 1000px;
      margin: 0 auto;
      .text {
        margin-bottom: 30px;
        font-weight: bold;
        font-size: 18px;
      }
    }
  }
}
</style>
