<template>
  <div>
    <div class="content_module">
      <div class="title_wrap">
        <div class="title_item">
          <i class="el el-icon-shopping-bag-1"></i>
          <p>{{ $t("system.cart") }}</p>
        </div>
      </div>
      <div class="product_wrap">
        <ul>
          <li class="header">
            <div class="pro_check">
              <el-checkbox v-model="allCheck">{{
                $t("cart.allselect")
              }}</el-checkbox>
            </div>
            <div class="pro_img">{{ $t("cart.img") }}</div>
            <div class="pro_name">{{ $t("cart.name") }}</div>
            <div class="pro_price">{{ $t("cart.price") }}</div>
            <div class="pro_num">{{ $t("cart.num") }}</div>
            <div class="pro_total">{{ $t("cart.subtotal") }}</div>
            <div class="pro_action">{{ $t("cart.operate") }}</div>
          </li>
          <li
            class="product_list"
            v-for="(item, index) in getShopCart"
            :key="index"
          >
            <div class="pro_check">
              <el-checkbox
                :value="item.shopCart.check"
                @change="fcCheck($event, index)"
              ></el-checkbox>
            </div>
            <div class="pro_img">
              <img :src="item.shopCart.img" alt="" />
            </div>
            <div class="pro_name">
              <div>{{ item.shopCart.name }}</div>
            </div>
            <div class="pro_price">
              <div>{{ item.shopCart.price }}</div>
            </div>
            <div class="pro_num">
              <el-input-number
                :value="item.shopCart.num"
                @change="handleChange($event, item, item.id, index)"
                :min="1"
                :max="10"
                size="mini"
                label="描述文字"
              ></el-input-number>
            </div>
            <div class="pro_total">
              <div>{{ item.shopCart.num * item.shopCart.price }}</div>
            </div>
            <div class="pro_action">
              <el-popover placement="left/right" width="160">
                <p>{{ $t("cart.delete") }}</p>
                <div style="text-align: right; margin: 0">
                  <el-button
                    type="primary"
                    size="mini"
                    @click="fcDelete($event, item.id, index)"
                    >{{ $t("cart.sure") }}</el-button
                  >
                </div>
                <i class="el-icon-delete" slot="reference"></i>
              </el-popover>
            </div>
          </li>
        </ul>
        <div class="cart_bar">
          <div class="left">
            <router-link class="continue" to="/">{{
              $t("cart.keepbuy")
            }}</router-link>
            <span class="sep">|</span>
            <span class="cart_total">
              {{ $t("cart.total") }}
              <span class="cart_totalnum">{{ getAllNum }}</span>
              {{ $t("cart.item") }} {{ $t("cart.selected") }}
              <span class="cart_totalnum">{{ getCheck }}</span>
              {{ $t("cart.piece") }}
            </span>
          </div>
          <div class="right">
            <span class="total_text"
              >{{ $t("cart.total") }}:
              <span class="total_price">{{ getTotalPrice }}</span>
            </span>
            <router-link to="/confirm" class="checkout">{{
              $t("cart.check")
            }}</router-link>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapActions } from "vuex";
import shopCartApi from "@/api/shopCartApi";
export default {
  name: "shopCartPage",
  data() {
    return {};
  },

  computed: {
    ...mapGetters([
      "getShopCart",
      "getAllNum",
      "getCheck",
      "getTotalPrice",
      "getAllCheck",
    ]),
    allCheck: {
      get() {
        return this.$store.getters.getAllCheck;
      },
      set(val) {
        this.fcAllCheck(val);
      },
    },
  },
  methods: {
    ...mapActions([
      "fcSetShopCart",
      "fcAddShopNum",
      "fcDeleteShopCart",
      "fcUpdateShopCart",
      "fcAllCheck",
    ]),
    // 數量更新
    handleChange(val, item, id, index) {
      if (item.id == id) {
        this.fcAddShopNum(val);
      }
      shopCartApi
        .fcUpdateShopList(item, id)
        .then(() => {
          this.fcUpdateShopCart({ index: index, type: "num", val: val });
          this.success("更新購物車");
        })
        .catch((err) => {
          return Promise.reject(err);
        });
    },
    // 勾選更新
    fcCheck(val, index) {
      this.fcUpdateShopCart({ index: index, type: "check", val: val });
    },
    // 刪除
    fcDelete(e, id) {
      shopCartApi
        .fcDeleteShopList(id)
        .then(() => {
          this.fcDeleteShopCart(id);
          this.success("刪除商品成功");
        })
        .catch((err) => {
          this.error("刪除商品失敗");
          return Promise.reject(err);
        });
    },
  },
};
</script>

<style lang="scss" scoped>
@import "../assets/css/mixins.scss";
.content_module {
  padding-bottom: 20px;
  .title_wrap {
    width: 100%;
    border-bottom: 1px solid #000000;
    margin-bottom: 10px;
    background: #ffffff;
    .title_item {
      max-width: 1000px;
      margin: 0 auto;
      padding: 20px 0;
      display: flex;
      align-items: center;
      .el {
        font-size: 30px;
      }
      p {
        font-size: 24px;
        margin-left: 20px;
      }
      @include media(tablet) {
        padding: 20px 20px;
      }
    }
  }
  .product_wrap {
    max-width: 1000px;
    margin: 20px auto 0;
    background: #ffffff;
    .header {
      display: grid;
      grid-template-columns: 80px 70px 250px 150px 150px 150px 150px;
      grid-template-rows: 70px;
      text-align: center;
      line-height: 70px;
      border-bottom: 1px solid #e0e0e0;
    }
    .product_list {
      display: grid;
      grid-template-columns: 80px 100px 230px 150px 150px 140px 140px;
      grid-template-rows: 100px;
      text-align: center;
      line-height: 100px;
      border-bottom: 1px solid #e0e0e0;

      .pro_img {
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          width: 100%;
          height: auto;
          object-fit: cover;
          object-position: center;
        }
      }
      .pro_num {
        ::v-deep .el-input__inner {
          color: #000000;
        }
      }
      .pro_action {
        .el {
          cursor: pointer;
        }
      }
    }
    .cart_bar {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0 0 0 20px;

      .left {
        .continue {
          color: #a7a7a7;
        }
        .sep {
          color: #a7a7a7;
          margin: 0 20px;
        }
        .cart_total {
          letter-spacing: 2px;
          .cart_totalnum {
            color: #409eff;
          }
        }
      }
      .right {
        display: flex;
        align-items: center;
        .total_text {
          color: #409eff;
          margin-right: 30px;
          .total_price {
            color: #409eff;
            font-size: 24px;
          }
        }
        .checkout {
          padding: 20px 60px;
          background: #e0e0e0;
          color: #000000;
        }
      }
      a {
        color: #000000;
        text-decoration: none;
      }
    }
    @include media(tablet) {
      width: 100%;
      ul {
        display: inline-grid;
        overflow: auto;
      }
      .header {
        grid-template-columns: 80px 70px 200px 100px 100px 100px 100px;
      }
      .product_list {
        grid-template-columns: 80px 70px 200px 100px 100px 100px 100px;
      }
      ::v-deep .el-input-number--mini {
        width: 100px;
      }
    }
    @include media(mobile) {
      .cart_bar {
        flex-direction: column;
        .left {
          margin-bottom: 20px;
        }
      }
      ul {
        width: 100%;
      }
    }
  }
}
</style>
