$main-color: #409eff;
$main-color-hover: #66b1ff;
$main-color-text: #b0b0b0;
$main-color-text-hover: #ff6700;
$main-white: #ffffff;
$main-black: #000000;
// w&h
@mixin w_h($width, $height) {
  width: $width;
  height: $height;
}

// max-w&h
@mixin max_w_h($max_width, $max_height) {
  max-width: $max_width;
  max-height: $max_height;
}
// postion
@mixin position($position, $top, $right, $bottom, $left) {
  position: $position;
  top: $top;
  right: $right;
  bottom: $bottom;
  left: $left;
}

// margin&padding
@mixin m_p($margin, $padding) {
  margin: $margin;
  padding: $padding;
}

// 圖片置中
@mixin img-center {
  display: block;
  margin: 0 auto;
}
// flex-box
@mixin flex-box($justify-content, $align-items, $flex-wrap, $flex-direction) {
  display: flex;
  justify-content: $justify-content;
  align-items: $align-items;
  flex-wrap: $flex-wrap;
  flex-direction: $flex-direction;
}
// box-center
@mixin box-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

// grid
@mixin grid($grid-template-columns, $grid-template-rows, $grid-gap) {
  display: grid;
  grid-template-columns: $grid-template-columns;
  grid-template-rows: $grid-template-rows;
  grid-gap: $grid-gap;
}

// 水平方向置中
@mixin center {
  position: absolute;
  left: 50%;
  top: 50%;
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

// bg-cover
@mixin bg-cover {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
// img-cover
@mixin img-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
}
// 三角形
@mixin triangle($width: 4px, $color: #000) {
  display: inline-block;
  width: 0;
  height: 0;
  vertical-align: middle;
  border-top: $width solid $color;
  border-left: $width solid transparent;
  border-right: $width solid transparent;
}
// 圓形
@mixin circle($width: 4px, $color: #000) {
  display: inline-block;
  width: $width;
  height: $width;
  border-radius: 50%;
  background-color: $color;
}
// 星形
@mixin star($width: 4px, $color: #000) {
  display: inline-block;
  width: 0;
  height: 0;
  border-left: $width solid transparent;
  border-right: $width solid transparent;
  border-bottom: $width solid $color;
  border-top: $width solid $color;
  transform: rotate(45deg);
}

// 模糊毛玻璃效果
@mixin blur($blur: 10px) {
  -webkit-filter: blur($blur);
  -moz-filter: blur($blur);
  -o-filter: blur($blur);
  -ms-filter: blur($blur);
  filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='${blur}');
  filter: blur($blur);
  zoom: 1;
}
// 遮罩式icon
@mixin mask-image($url, $width, $height, $color) {
  -webkit-mask: url($url) no-repeat;
  -webkit-mask-size: contain;
  background: $color;
  width: $width;
  height: $height;
}

// safari滾輪
@mixin scroll {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

// 滾輪樣式
@mixin scroll-bar {
  &::-webkit-scrollbar {
    width: 6px;
    height: 6px;
  }
  &::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.2);
    border-radius: 3px;
  }
  &::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.1);
    border-radius: 3px;
  }
}

// select圖案
@mixin select-img($url) {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: url($url) no-repeat 100% 50%;
  background-size: 10px;
  padding-right: 15px;
}
// button
@mixin select-style($color, $bg-color) {
  color: $color;
  background-color: $bg-color;
  border: 1px solid $color;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 14px;
  line-height: 1;
  cursor: pointer;
  &:hover {
    color: $bg-color;
    background-color: $color;
  }
}
// checkbox
@mixin checkbox-style($color, $bg-color) {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 1px solid $color;
  border-radius: 5px;
  cursor: pointer;
  &:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 10px;
    height: 10px;
    background-color: $bg-color;
    border-radius: 5px;
    transform: translate(-50%, -50%) scale(0);
    transition: all 0.3s;
  }
  &:hover {
    &:before {
      transform: translate(-50%, -50%) scale(1);
    }
  }
  &:checked {
    &:before {
      transform: translate(-50%, -50%) scale(1);
    }
  }
}

//文字超出顯示省略號
@mixin ellipsis-multi($line) {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $line;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
  white-space: wrap;
  word-break: break-all;
}
// 文字設定
@mixin font($size, $weight, $line-height, $letter-spacing, $text-align) {
  font-size: $size;
  font-weight: $weight;
  line-height: $line-height;
  letter-spacing: $letter-spacing;
  text-align: $text-align;
}
// 取消預設樣式
@mixin fullNone {
  background: transparent;
  outline: none;
  border: none;
}

// 媒體查詢
@mixin media($breakpoint) {
  @if $breakpoint == 'mobile' {
    @media (max-width: 767px) {
      @content;
    }
  } @else if $breakpoint == 'tablet' {
    @media (max-width: 1099px) {
      @content;
    }
  } @else if $breakpoint == 'desktop' {
    @media (min-width: 1100px) and (max-width: 1500px) {
      @content;
    }
  }
}

// 平板橫放指定寬度
@mixin ipad-landscape-width($width) {
  @media (min-width: $width) and (max-width: 1100px) and (orientation: landscape) {
    @content;
  }
}
// 指定寬度
@mixin width($width) {
  @media (min-width: $width) {
    @content;
  }
}

// 指定高度
@mixin height($height) {
  @media (min-height: $height) {
    @content;
  }
}
