<template>
  <div>
    <div class="content_module">
      <ul>
        <li v-for="item in products" :key="item.productId">
          <router-link
            :to="{
              path: '/products/detail',
              query: { productId: item.productId },
            }"
          >
            <div class="product_item">
              <img :src="item.img" alt="" />
              <div class="name">{{ item.name }}</div>
              <div class="describe">{{ item.describe }}</div>
              <p class="price">{{ item.price }}元</p>
            </div>
          </router-link>
        </li>
        <li v-show="isMore && products.length >= 1" class="more">
          <router-link to="/products">
            {{ $t("system.more") }}
            <i class="el-icon-d-arrow-right"></i>
          </router-link>
        </li>
      </ul>
    </div>
  </div>
</template>
<script>
export default {
  props: {
    products: {
      type: Array,
    },
    isMore: {
      type: Boolean,
    },
  },
  data() {
    return {};
  },
};
</script>
<style lang="scss" scoped>
@import "../assets/css/mixins.scss";
.content_module {
  ul {
    @include flex-box(initial,initial,wrap,row);
    li {
      position: relative;
      @include w_h(25%,auto);
      @include m_p(0,10px 10px);
      border-radius: 10px;
      background-color: white;
      -webkit-transition: all 0.2s linear;
      transition: all 0.2s linear;
      &:hover {
        -webkit-box-shadow: 1px 5px 16px rgb(250, 214, 165);
        box-shadow: 1px 5px 16px rgb(250, 214, 165);
        -webkit-transform: translate3d(0, -2px, 0);
        transform: translate3d(0, -2px, 0);
        z-index: 2;
      }
      .product_item {
        padding: 30px 0;
      }
      img {
        margin-bottom: 30px;
        @include img-cover;
        margin: 0 auto;
      }
      .name {
        margin: 25px 10px 0;
        color: #333;
        @include font(18px,400,1.15,1px,center);
        @include ellipsis-multi(2) 
      }
      .describe {
        margin: 5px 10px;
        color: #b0b0b0;
        @include font(16px,400,1.15,1px,center);
        @include ellipsis-multi(3) 
      }
      p {
        margin: 10px;
        text-align: center;
        color: #409eff;
        font-size: 16px;
      }
    }
  }
  .more {
    text-align: center;
    line-height: 235px;
    a {
      font-size: 18px;
      color: #333;
      &:hover {
        color: #409eff;
      }
    }
  }
  @include media(tablet){
    ul{
      justify-content: center;
      li{
        width: 33.33%;
      }
    }
  
  }
  @include media(mobile) {
    ul {
      li {
        width: 80%;
        margin: 10px auto;
      }
    }
  }
}
</style>
