<template lang="">
  <div>
    <div class="content_module">
      <ul class="text_item">
        <slot
          name="box"
          v-for="(item, index) in lists"
          ::key="index"
          :text="item.name"
          :id="item.id"
        ></slot>
      </ul>
    </div>
  </div>
</template>
<script>
export default {
  name: "slotList",
  props: {
    lists: {
      type: Array,
    },
  },
  data() {
    return {};
  },
};
</script>
<style lang="scss" scoped>
@import "../assets/css/mixins.scss";
.content_module {
  .text_item {
    width: 700px;
    margin: 0 auto;
    @include flex-box(center,flex-start,initial,column);
  }
  @include media(mobile) {
    .text_item {
      width: 80%;
    }
  }
}
</style>
